<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %} {% endblock %} {# Para hacer entender que el titulo es variable #}
    </title>
</head>
<body>
    <h1>Mi sitio Web</h1>
    {% include "head/nav.html" %}
    {% block content %} {% endblock %} {# Para hacer entender que el contenido es variable #}

    <p>Gracias por tu visita</p>
</body>
</html>