<!DOCTYPE html>
<html lang="en">

<style>
    #nav{
        margin:0;
        padding:0;
        list-style:none;
        text-transform:uppercase;
    }
    #nav li{
        display:inline;
        margin: 0 20px;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navegación</title>
</head>
<body>
    <ul id="nav">
        <li>Home</li>
        <li>Services</li>
        <li>About us</li>
        <li>Contact</li>
        <li>About</li>
    </ul>
</body>
</html>